<h1 id="title">
    <%= titleForm %>
</h1>
<form action="/<%= action %>" method="POST">
    <input type="text" name="task" id="taskInput" placeholder="Write a task" value="<%= value %>" />
    <button type="submit" id="addButton">
        <%= nameBtn %>
    </button>
</form>