<section class="message message-<%= obs.type %>">
    <p>
        <strong>
            <%= obs.message %>
        </strong>
    </p>
    <span id="close-message"><i class="bi bi-x"></i></span>
    <div class="animation-<%= obs.type %>"></div>
</section>