<div id="deleteBackground">
    <div id="deleteBox">
        <div id="deleteMessage">
            <p>Tem certeza que deseja deletar: <%= obs.task.task %>?</p>
        </div>
        <div id="deleteConfirmationButtons">
            <a class="button" id="editButton" href="/deleteOne/<%= obs.deleteId%>">Sim</a>
            <a class="button" id="deleteButton" href="/">Não</a>
        </div>
    </div>
</div>